@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.heading {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.heading--1 {
  font-size: 4.6rem;
  letter-spacing: -0.075rem;
}
.heading--2 {
  font-size: 3.6rem;
  letter-spacing: -0.059rem;
}
.heading--3 {
  font-size: 2.4rem;
  letter-spacing: -0.039rem;
}

.text {
  font-weight: 400;
  color: hsl(201, 11%, 66%);
}
.text--large {
  font-size: 2rem;
  letter-spacing: 0.015rem;
  line-height: 3rem;
}
.text--medium {
  font-size: 1.8rem;
  letter-spacing: 0.014rem;
  line-height: 3rem;
}
.text--small {
  font-size: 1.6rem;
  letter-spacing: 0.012rem;
  line-height: 3rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree";
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 12.8rem;
  background-image: linear-gradient(transparent 0, transparent 50%, hsl(0, 0%, 100%) 100%), url(/images/bg-header-desktop.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 15rem;
}
.header__logo {
  width: 12.5rem;
  height: 12.5rem;
  margin-bottom: 5.6rem;
}
.header__heading {
  margin-bottom: 1.6rem;
}
.header__text {
  width: 100%;
  max-width: 73rem;
  margin-bottom: 4.8rem;
}
.header__buttons {
  display: flex;
  gap: 1.6rem;
}

.snippets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
}
.snippets__heading {
  margin-bottom: 1.9rem;
  text-align: center;
}
.snippets__text {
  width: 100%;
  max-width: 73rem;
  text-align: center;
  margin-bottom: 8rem;
}
.snippets__content {
  align-self: stretch;
  display: flex;
  gap: 11rem;
}
.snippets__image {
  width: 50%;
  height: 57.2rem;
  background-image: url(/images/image-computer.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.snippets__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 5.6rem;
}

.clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16.1rem;
}
.clipboard__heading {
  margin-bottom: 1.9rem;
}
.clipboard__text {
  width: 100%;
  max-width: 73rem;
  margin-bottom: 11rem;
}
.clipboard__image {
  width: 81.2rem;
  height: 47.5rem;
  background-image: url(/images/image-devices.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15rem;
}
.workflow__heading {
  margin-bottom: 1.9rem;
}
.workflow__text {
  margin-bottom: 7.2rem;
}
.workflow__cards {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.clients {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}
.clients__list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 111rem;
  justify-content: space-between;
}
.clients__logo {
  height: 7.2rem;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15rem;
}
.download__heading {
  margin-bottom: 1.9rem;
}
.download__text {
  margin-bottom: 4.8rem;
  width: 100%;
  max-width: 73rem;
}
.download__buttons {
  display: flex;
  gap: 1.6rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.9rem 0;
  background-color: hsl(201, 11%, 66%);
}
.footer__content {
  display: flex;
  width: 100%;
  max-width: 111rem;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo img {
  height: 5.5rem;
}
.footer__links {
  list-style: none;
  margin-left: 13.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 48rem;
  row-gap: 1.2rem;
}
.footer__link {
  width: 16rem;
}
.footer__link a {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.014rem;
  font-weight: 400;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
  transition: color 0.3s ease;
}
.footer__link a:hover {
  color: hsl(171, 66%, 44%);
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-left: auto;
}
.footer__social a {
  list-style: none;
  width: 2.4rem;
  font-size: 2.4rem;
  color: transparent;
  background-color: hsl(210, 10%, 33%);
  background-clip: text;
  transition: background-color 0.3s ease;
}
.footer__social a:hover {
  background-color: hsl(171, 66%, 44%);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
  padding: 0 3.6rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  border: none;
  border-radius: 5.6rem;
}
.button__primary {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 0.4rem solid hsl(171, 66%, 36%);
  box-shadow: 0 1rem 2rem 0 hsla(160, 64%, 72%, 0.5033);
}
.button__secondary {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 0.4rem solid hsl(233, 100%, 61%);
  box-shadow: 0 1rem 2rem 0 hsla(212, 64%, 72%, 0.503);
}
.button:hover {
  opacity: 0.7;
}

.feature {
  width: 100%;
  max-width: 35rem;
}
.feature__heading {
  margin-bottom: 0.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 35rem;
}
.card__icon {
  margin-bottom: 4.4rem;
  height: 4rem;
}
.card__heading {
  margin-bottom: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
