@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.heading {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.heading--1 {
  font-size: 4.6rem;
  letter-spacing: -0.075rem;
}
@media (max-width: 850px) {
  .heading--1 {
    font-size: 32px;
    letter-spacing: -0.052px;
  }
}
.heading--2 {
  font-size: 3.6rem;
  letter-spacing: -0.059rem;
}
@media (max-width: 850px) {
  .heading--2 {
    font-size: 28px;
    letter-spacing: -0.046px;
  }
}
.heading--3 {
  font-size: 2.4rem;
  letter-spacing: -0.039rem;
}
@media (max-width: 850px) {
  .heading--3 {
    font-size: 24px;
    letter-spacing: -0.039px;
  }
}

.text {
  font-weight: 400;
  color: hsl(201, 11%, 66%);
}
.text--large {
  font-size: 2rem;
  letter-spacing: 0.015rem;
  line-height: 3rem;
}
@media (max-width: 850px) {
  .text--large {
    font-size: 16px;
    letter-spacing: 0.012px;
    line-height: 26px;
  }
}
.text--medium {
  font-size: 1.8rem;
  letter-spacing: 0.014rem;
  line-height: 3rem;
}
@media (max-width: 850px) {
  .text--medium {
    font-size: 16px;
    letter-spacing: 0.012px;
    line-height: 26px;
  }
}
.text--small {
  font-size: 1.6rem;
  letter-spacing: 0.012rem;
  line-height: 3rem;
}
@media (max-width: 850px) {
  .text--small {
    font-size: 16px;
    letter-spacing: 0.012px;
    line-height: 26px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1169px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1033px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Bai Jamjuree";
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 12.8rem;
  background-image: linear-gradient(transparent 0, transparent 50%, hsl(0, 0%, 100%) 100%), url(/images/bg-header-desktop.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 15rem;
}
@media (max-width: 850px) {
  .header {
    padding-top: 12.3rem;
    background-image: linear-gradient(transparent 0, transparent 50%, hsl(0, 0%, 100%) 100%), url(/images/bg-header-mobile.png);
    margin-bottom: 16rem;
  }
}
.header__logo {
  height: 12.5rem;
  margin-bottom: 5.6rem;
}
@media (max-width: 850px) {
  .header__logo {
    max-width: 31.1rem;
  }
}
.header__heading {
  margin-bottom: 1.6rem;
}
@media (max-width: 850px) {
  .header__heading {
    max-width: 31.1rem;
    margin-bottom: 1.6rem;
  }
}
.header__text {
  width: 100%;
  max-width: 73rem;
  margin-bottom: 4.8rem;
}
@media (max-width: 850px) {
  .header__text {
    max-width: 31rem;
    margin-bottom: 4.8rem;
  }
}
.header__buttons {
  display: flex;
  gap: 1.6rem;
}
@media (max-width: 850px) {
  .header__buttons {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 31rem;
    gap: 2.4rem;
  }
}

.snippets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
}
.snippets__heading {
  margin-bottom: 1.9rem;
  text-align: center;
}
@media (max-width: 850px) {
  .snippets__heading {
    max-width: 31.2rem;
  }
}
.snippets__text {
  width: 100%;
  max-width: 73rem;
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 850px) {
  .snippets__text {
    max-width: 31.2rem;
    margin-bottom: 6.5rem;
  }
}
.snippets__content {
  align-self: stretch;
  display: flex;
  gap: 11rem;
}
@media (max-width: 850px) {
  .snippets__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5.6rem;
  }
}
.snippets__image {
  width: 50%;
  height: 57.2rem;
  background-image: url(/images/image-computer.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 850px) {
  .snippets__image {
    width: 100%;
    height: 23.8rem;
    background-position: center;
  }
}
.snippets__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 5.6rem;
}
@media (max-width: 850px) {
  .snippets__features {
    gap: 4.8rem;
  }
}

.clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 9.1rem;
}
@media (max-width: 850px) {
  .clipboard {
    margin-bottom: 11rem;
  }
}
.clipboard__heading {
  margin-bottom: 1.9rem;
}
@media (max-width: 850px) {
  .clipboard__heading {
    margin-bottom: 1.6rem;
    max-width: 31.1rem;
  }
}
.clipboard__text {
  width: 100%;
  max-width: 73rem;
  margin-bottom: 11rem;
}
@media (max-width: 850px) {
  .clipboard__text {
    margin-bottom: 6.4rem;
    max-width: 31.1rem;
  }
}
.clipboard__image {
  width: 100%;
  height: 56.5rem;
  background-image: url(/images/image-devices.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 850px) {
  .clipboard__image {
    height: 21rem;
  }
}

.workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15rem;
}
@media (max-width: 850px) {
  .workflow {
    margin-bottom: 13.1rem;
  }
}
.workflow__heading {
  margin-bottom: 1.9rem;
}
@media (max-width: 850px) {
  .workflow__heading {
    margin-bottom: 1.1rem;
    max-width: 31.1rem;
  }
}
.workflow__text {
  margin-bottom: 7.2rem;
}
@media (max-width: 850px) {
  .workflow__text {
    margin-bottom: 9rem;
    max-width: 31.1rem;
  }
}
.workflow__cards {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 850px) {
  .workflow__cards {
    flex-direction: column;
    gap: 5.6rem;
  }
}

.clients {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}
@media (max-width: 850px) {
  .clients {
    margin-bottom: 17rem;
  }
}
.clients__list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 111rem;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .clients__list {
    flex-direction: column;
    height: 43.9rem;
    max-width: 13.9rem;
  }
}
@media (max-width: 850px) {
  .clients__logo--1 img {
    height: 4.1rem;
  }
}
@media (max-width: 850px) {
  .clients__logo--2 img {
    height: 4.1rem;
  }
}
@media (max-width: 850px) {
  .clients__logo--3 img {
    height: 3rem;
  }
}
@media (max-width: 850px) {
  .clients__logo--4 img {
    height: 5rem;
  }
}
@media (max-width: 850px) {
  .clients__logo--5 img {
    height: 2.7rem;
  }
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15rem;
}
@media (max-width: 850px) {
  .download {
    margin-bottom: 17rem;
  }
}
.download__heading {
  margin-bottom: 1.9rem;
}
@media (max-width: 850px) {
  .download__heading {
    margin-bottom: 1.6rem;
    max-width: 31.1rem;
  }
}
.download__text {
  margin-bottom: 4.8rem;
  width: 100%;
  max-width: 73rem;
}
@media (max-width: 850px) {
  .download__text {
    margin-bottom: 4.6rem;
    max-width: 31.1rem;
  }
}
.download__buttons {
  display: flex;
  gap: 1.6rem;
}
@media (max-width: 850px) {
  .download__buttons {
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 31.1rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.9rem 0;
  background-color: hsla(201, 11%, 66%, 0.1);
}
@media (max-width: 850px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 5.2rem 0;
  }
}
.footer__content {
  display: flex;
  width: 100%;
  max-width: 111rem;
}
@media (max-width: 850px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .footer__logo {
    margin-bottom: 4rem;
  }
}
.footer__logo img {
  height: 5.5rem;
}
.footer__links {
  list-style: none;
  margin-left: 13.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 48rem;
  row-gap: 1.2rem;
}
@media (max-width: 850px) {
  .footer__links {
    flex-direction: column;
    max-width: unset;
    text-align: center;
    margin-left: 0;
    margin-bottom: 5rem;
  }
}
.footer__link {
  width: 16rem;
}
@media (max-width: 850px) {
  .footer__link {
    width: unset;
  }
}
.footer__link a {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.014rem;
  font-weight: 400;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
  transition: color 0.3s ease;
}
.footer__link a:hover {
  color: hsl(171, 66%, 44%);
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-left: auto;
}
@media (max-width: 850px) {
  .footer__social {
    margin-left: unset;
  }
}
.footer__social a {
  list-style: none;
  width: 2.4rem;
  font-size: 2.4rem;
  color: transparent;
  background-color: hsl(210, 10%, 33%);
  background-clip: text;
  transition: background-color 0.3s ease;
}
.footer__social a:hover {
  background-color: hsl(171, 66%, 44%);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
  padding: 0 3.6rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  border: none;
  border-radius: 5.6rem;
}
.button__primary {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 0.4rem solid hsl(171, 66%, 36%);
  box-shadow: 0 1rem 2rem 0 hsla(160, 64%, 72%, 0.5033);
}
.button__secondary {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 0.4rem solid hsl(233, 100%, 61%);
  box-shadow: 0 1rem 2rem 0 hsla(212, 64%, 72%, 0.503);
}
.button:hover {
  opacity: 0.7;
}

.feature {
  width: 100%;
  max-width: 35rem;
}
@media (max-width: 850px) {
  .feature {
    max-width: 31.2rem;
  }
}
.feature__heading {
  margin-bottom: 0.8rem;
}
@media (max-width: 850px) {
  .feature__heading {
    margin-bottom: 1rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 35rem;
}
@media (max-width: 850px) {
  .card {
    max-width: 31.1rem;
  }
}
.card__icon {
  margin-bottom: 4.4rem;
  height: 4rem;
}
@media (max-width: 850px) {
  .card__icon {
    margin-bottom: 4rem;
  }
}
.card__heading {
  margin-bottom: 1.6rem;
}
@media (max-width: 850px) {
  .card__heading {
    margin-bottom: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
