.clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16.1rem;

  @include screen(mobile) {
    margin-bottom: 11rem;
    margin-bottom: 9.1rem;
  }

  &__heading {
    margin-bottom: 1.9rem;

    @include screen(mobile) {
      margin-bottom: 1.6rem;
      max-width: 31.1rem;
    }
  }

  &__text {
    width: 100%;
    max-width: 73rem;
    margin-bottom: 11rem;

    @include screen(mobile) {
      margin-bottom: 6.4rem;
      max-width: 31.1rem;
    }
  }

  &__image {
    width: 100%;
    height: 56.5rem;
    background-image: url(/images/image-devices.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include screen(mobile) {
      height: 21rem;
    }
  }
}
