*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 1169px) {
    font-size: 55%;
  }

  @media (max-width: 1033px) {
    font-size: 45%;
  }

  @include screen(mobile) {
    font-size: 62.5%;
  }
}

body {
  font-family: $Font;
}
